* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    padding: 20px;
    color: orange;
}

#criador {
    color: rgba(138, 21, 21, 0.795);
    font-size: 15px;
    margin-top: 10px;
    font-style: italic;
    text-align: left;
    margin-left: 7px;
}

.fundo {
    background-image: linear-gradient(2deg, black, rgb(114, 114, 114));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.87);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.botao {
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: rgba(20, 20, 20, 0.616);
}

#resultado {
    background-color: rgba(112, 112, 112, 0.788);
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow-x: auto;
    white-space: nowrap;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
